[Unit]
Description=Battery Monitor Timer
Requires=battery-monitor.service

[Timer]
OnBootSec=2min
OnUnitActiveSec=2min

[Install]
WantedBy=timers.target
