@define-color text            #D5D6DB;
@define-color background-alt  #1A1B26;
@define-color selected        #82aaff;
@define-color hover           alpha(#B4F9F8, .5);
@define-color border-sec      #2f3549;
@define-color bg-sec          #444b6a;

* {
  color: @text;

  all: unset;
  font-size: 14px;
  font-family: "JetBrains Mono Nerd Font 10";
  transition: 200ms;
}

/* Avoid 'annoying' backgroud */
.blank-window {
  background: transparent;
}

/* CONTROL CENTER ------------------------------------------------------------------------ */

.control-center {
  background: alpha(#16161e, 0.8);
  border-radius: 24px;
  border: 1px solid @selected;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.6);
  margin: 12px;
  padding: 12px;
}

/* Notifications  */
.notification-row {
  outline: none;
  margin: 0px;
}

.notification-group {
  margin: 2px 8px 2px 8px;
}

.notification {
  border: 2px solid @border-sec;
  border-radius: 12px;
  background: @background-alt;
  margin: 3px 6px 3px 4px;
  padding: 7px 10px;
}

.floating-notifications .notification {
  border: 2px solid @hover;
  border-radius: 12px;
  background: @background-alt;
  margin: 12px;
  padding: 7px 10px;
}
.notification .notification-content .summary {
  font-weight: bold;
  margin: 0px 4px;
}
.notification .notification-content .body {
  margin: 0px 4px;
}

.notification:hover {
  border: 2px solid @border-sec;
  border-radius: 12px;
  background: @bg-sec;
  margin: 3px 6px 3px 4px;
  padding-bottom: 10px;
}

.notification-group-collapse-button,
.notification-group-close-all-button {
  background: transparent;
  margin: 4px;
  border-radius: 6px;
  padding: 4px;
}

.notification-group-collapse-button:hover,
.notification-group-close-all-button:hover {
  background: @hover;
}

.notification-content {
  background: transparent;
  /* gap: 4px; */
}

.notification-default-action {
  margin: 3px 6px 3px 6px;
  padding: 0;
  border-radius: 10px;
}

.close-button {
  background: #0f0f0f;
  text-shadow: none;
  padding: 0px;
  border-radius: 40px;
  margin-top: 5px;
  margin-right: 5px;
}

.close-button:hover {
  box-shadow: none;
  background: @hover;
  transition: all 0.15s ease-in-out;
  border: none;
}

.notification-action {
  border: 2px solid @bg-sec;
  border-top: none;
  border-radius: 0px;
}

.notification-default-action:hover,
.notification-action:hover {
  background: rgba(68, 75, 106, 0.2);
}

.notification-default-action {
  border-radius: 5px;
  margin: 3px 6px 3px 6px;
}

.notification-default-action:not(:only-child) {
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
}

.notification-action:first-child {
  border-bottom-left-radius: 10px;
  background: rgba(21, 21, 21, 0.8);
}

.notification-action:last-child {
  border-bottom-right-radius: 10px;
  background: rgba(21, 21, 21, 0.8);
}

/* WIDGETS --------------------------------------------------------------------------- */

/* Notification clear button */
.widget-title {
  font-size: 1.2em;
  margin-top: 14px;
}

.widget-title button {
  background: @background-alt;
  border-radius: 6px;
  padding: 4px 16px;
}

.widget-title button:hover {
  background-color: @hover;
}

.widget-title button:active {
  background-color: @selected;
}

/* Do not disturb */
.widget-dnd {
  margin: 6px;
  font-size: 1.2rem;
}

.widget-dnd > switch {
  background: @background-alt;
  font-size: initial;
  border-radius: 8px;
  box-shadow: none;
  padding: 2px;
}

.widget-dnd > switch:hover {
  background: @hover;
}

.widget-dnd > switch:checked {
  /* background: @selected; */
}

.widget-dnd > switch:checked:hover {
  background: @hover;
}

.widget-dnd > switch slider {
  background: @text;
  border-radius: 6px;
}

/* Buttons menu */
.widget-buttons-grid {
  font-size: x-large;
  padding: 6px 2px;
  margin: 6px;
  border-radius: 12px;
  border: 1px solid alpha(@bg-sec, 0.8);
  background: @background-alt;
}

.widget-buttons-grid > flowbox > flowboxchild > button {
  margin: 4px 10px;
  padding: 6px 12px;
  background: transparent;
  border-radius: 8px;
}

.widget-buttons-grid > flowbox > flowboxchild > button:hover {
  background: @hover;
}

/* Music player */
.widget-mpris {
  background: transparent;
  border-radius: 16px;
  color: @text;
  margin: 20px 6px 0px 6px;
}

/* NOTE: Background need *opacity 1* otherwise will turn into the album art blurred  */
.widget-mpris-player {
  background-color: @background-sec;
  border-radius: 22px;
  padding: 6px 14px;
}

.widget-mpris > box > button {
  color: @text;
  border-radius: 20px;
}

.widget-mpris button {
  color: alpha(@text, 0.6);
}

.widget-mpris button:hover {
  color: @text;
}

.widget-mpris-album-art {
  border-radius: 16px;
}

.widget-mpris-title {
  font-weight: 700;
  font-size: 1rem;
}

.widget-mpris-subtitle {
  font-weight: 500;
  font-size: 0.8rem;
}

/* Volume */
.widget-volume {
  background: @background-sec;
  color: @background;
  padding: 4px;
  margin: 6px;
  border-radius: 6px;
}
